<div class="mt-10">
  <div class="bg-red-500 text-white px-4 py-2 rounded-md">
    <p class="text-lg font-bold">Oops, something went wrong</p>
    <p class="text-sm"> <%= error_message %> </p>
  </div>
</div>
